eclipse
CREDITS-fml.txt
forge-1.7.2-10.12.2.1126-changelog.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
.project
.classpath
.settings
.gradle
*.lock
.gradle/gradle.log
forge-1.7.2-10.12.2.1126-src.zip
*.class
bin/mcmod.info
.project.bak
.classpath.bak
*.lock
bin
.gradle/*
.gradle/1.12/taskArtifacts/taskArtifacts.bin
.gradle/1.12/taskArtifacts/outputFileStates.bin
.gradle/1.12/taskArtifacts/fileSnapshots.bin
.gradle/1.12/taskArtifacts/fileHashes.bin
.gradle/1.12/taskArtifacts/cache.properties.lock
srcbackup
*.lock
.gradle/1.12/taskArtifacts/cache.properties.lock
.gradle/1.12/taskArtifacts/taskArtifacts.bin
.gradle/gradle.log