eclipse
gradle
build.gradle
CREDITS-fml.txt
forge-1.7.2-10.12.2.1126-changelog.txt
gradlew
gradlew.bat
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
.classpath
.gradle
.project
.settings